
#botaoConverter {
    box-sizing: border-box;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    position: static;
    width: 149px;
    height: 56px;
    left: 0px;
    top: 212px;
    background-image: url("../Images/Converter.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 32px;
}

#botaoConverter:disabled {
    background-color: #8C9CAD;
    border: 1px solid #008B57;
}

#botaoConverter:enabled {
    background-color: #00AB63;
    border: 1px solid #008B57;
    cursor: pointer;
}

#botaoConverter:active {
    background-color: #008B57;
    border: 1px solid #008B57;
}

