#botaoVoltar {
    position: static;
    width: 120px;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #D7E0EB;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
    border-radius: 8px;
    background-image: url("../Images/voltar.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
} 

@media (max-width: 680px) {

    #botaoVoltar {
        margin-top: 25vw;
    }

}
