  #linhaFormaPagamento {
      display: flex;
      flex-direction: line;
  }

  #tituloRadio {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px;
      color: #2E3742;
      margin-top: 32px;
      margin-bottom: 16px;
  }