#infos {
    display: flex;
    flex-direction: line;
    width: 85vw;
    height: 4vh;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    padding: 73px 0px 0px 43px; 
}

#morningstar {
    padding: 0px 0px 0px 63px; 
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #8C9CAD;
}

#logo {
    width: 10vw;
    padding: 73px 5px 117px 64px;
}

#header {
    display: flex;
    flex-direction: line;
}

.textoInfo {
    padding: 0px 20px 0px 20px;
}

.textos {
    display: flex;
    flex-direction: column;
}