#controlesDigitaveis {
    display: flex;
    flex-direction: line;
    flex-flow: wrap;
}

.coluna {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#valorPagar {
    background: #FFFFFF;
    border: 1px solid #D7E0EB;
    border-left: 0px;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    text-align: right;
    width: 168px;
    height: 56px;
    text-align: left;
    padding: 10px;
    font-family: 'Roboto';
    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
    margin-right: 24px;
}

#valorImposto {
    background: #FFFFFF;
    border: 1px solid #D7E0EB;
    border-right: 0px;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    text-align: right;
    width: 168px;
    height: 56px;
    text-align: left;
    padding: 10px;
    font-family: 'Roboto';
    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
}

#symbolDollar {
    background: #FFFFFF;
    border: 1px solid #D7E0EB;
    border-right: 0px;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    width: 30px;
    height: 56px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
}

#symbolPercentage {
    background: #FFFFFF;
    border: 1px solid #D7E0EB;
    border-left: 0px;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    width: 30px;
    height: 56px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
}

.textoTitulo {
    height: 21px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2E3742;
    margin-bottom:5px;
}

@media (max-width: 680px) {

    #valorPagar, #valorImposto {
        width: 30vw;
    }
    #controlesDigitaveis {
        padding-top: 25vw;
    }

}